.App {
  text-align: center;
  background-color: #009879;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 80px;
}
.title {
  font-size: 500%;
  text-align: center;
  color: #fff;
  animation: flipTitle 2s;
  text-shadow: 2px 3px 0px #898999;
  text-transform: uppercase;
}
@keyframes flipTitle {
  from{
    transform: rotateX(90deg);
  }
  to{
    transform: rotateX(0deg);
  }  
}
.challenge-title {
  color: #fff;
  font-size: 1.5em;
  margin-bottom: 30px;
  font-weight: bold;
}
.table-container {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  min-width: 35%;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0,0,0,0.15);
}
.table-container thead tr {
  background-color: #3CB371;
  color: #fff;
  font-weight: bold;
}
.table-container th, .table-container td {
  padding: 12px 15px;
}
.table-container tbody tr {
  border-bottom: 1px solid #dddddd;
}
.table-container tbody tr:nth-last-of-type(even) {
  background-color: #f3f3f3;
}
.table-container tbody tr:nth-last-of-type(odd) {
  background-color: #fff;
}
.table-container tbody tr.active-row {
  font-weight: bold;
  color: #009879;
}
.challenge-input{
  background-color: #fff;
  border: 0;
  font-size: 20px;
  color: black;
  outline: none;
  margin: 25px 0;
  padding: 8px;
  min-width: 35%;
  border-radius: 5px;
  box-shadow: 0 0 20px rgba(0,0,0,0.15);
}
.result-button {
	background-color:#3CB371;
	border-radius:28px;
	border:1px solid #3CB371;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:10px 31px;
	text-decoration:none;
	text-shadow:0px 1px 0px #898999;
}
.result-button:hover {
	background-color:#5cbf2a;
}

